.scrollup {
    position: fixed;
    right: 3.2rem;
    bottom: 2.5rem;
    z-index: 1000;
    padding: 1rem;
    transition: 2s ease;
}

.scrollup:hover {
    cursor: pointer;
    opacity: 0.7;
}

.scrollup svg {
    flex-direction: column;
    position: fixed;
    font-size: 2.6rem;
    color: #666;
}