
/* Services CSS styling */

.services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .service {
    background: var(--color-background-variant);
    border-radius: 0 0 2rem 2rem;
    border:  1px solid transparent;
    height: fit-content;
    transition: var(--transition);
    margin-bottom: 6rem;
    margin-top: 0.5rem;
  }
  
  .service:hover {
    background: var(--color-primary);
    cursor: default;
  }
  
  .service__head {
    background: var(--color-primary-variant);
    border-radius: 0 0 2rem 2rem;
    padding: 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .service__head h3 {
    color: var(--color-light);
    text-align: center;
    font-size: 1rem;
  }
  
  .service__list {
    padding: 2rem;
  }
  
  .service__list li {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    /* gap: 0.1rem; */
  }

  
  .service__list__icon {
    color: var(--color-light);
    font-size: 2rem;
  }

  
  .service__list .service__list__paragraph {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }
  
  /* services media queries */
  /* large device */
  @media screen and (max-width: 1200px){
    .service__list li {
      grid-template-columns: 15% 75%;
    }
  }
  @media screen and (max-width: 1024px){
    .services__container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .services {
      height: auto;
    }
    .service__list li {
      grid-template-columns: 20% 80%;
      
    }
  }
  
  /* small devices */
  @media screen and (max-width: 600px){
    .services__container {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
    .service__list li {
      grid-template-columns: 10% 90%;
      
  }
  }

  @media screen and (max-width: 768px){
    .service__list li {
      grid-template-columns: 20% 80%;  
    }
    .service__list li .service__list__paragraph {
      font-size: 0.6rem;
    }
  }